<x-component-def name="home">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <x-component name="head_common" />
            <x-component name="agbalumo_font_import" />
            <title>Little Chef - Home</title>
        </head>
        <body class="bg-black">
            <x-component name="layout">
                <x-template>
                    <div class="w-full max-w-xl px-2 py-2">
                        <x-component name="top_bar" />
                    </div>
                    <div class="w-full max-w-xl flex-1 px-2 pb-4 flex flex-col overflow-y-scroll">
                        <div class="py-2 mb-3">
                            <h1 class="text-3xl font-agbalumo text-[#01B269]">Little Chef</h1>
                        </div>
                        <div class="space-y-4 flex-1">
                            <x-component name="food_card" />
                            <x-component name="food_card" />
                            <x-component name="food_card" />
                            <x-component name="food_card" />
                            <x-component name="food_card" />
                        </div>
                    </div>
                </x-template>
            </x-component>
        </body>
    </html>
</x-component-def>
