<x-component-def name="home">
    <x-component name="root_layout">
        <x-template>Home</x-template>
        <x-template>
            <div>
                <x-val name="page_name" />
            </div>
            <div>
                <x-for name="table">
                    <td>
                        <x-val name="name" />
                    </td>
                    <p>
                        <x-val name="sub_name" />
                    </p>
                    <x-for name="rows">
                        <div>
                            <x-for name="cells">
                                <x-val name="." />
                            </x-for>
                        </div>
                    </x-for>
                </x-for>
            </div>
        </x-template>
    </x-component>
</x-component-def>
