<x-component-def name="home">
    <x-component name="root_layout">
        <x-template>Home</x-template>
        <x-template>
            <div>Home page</div>
            <div>
                {{ for table }}
                    <td>{{ name }}</td>
                    <p>{{ sub_name }}</p>
                    {{ for rows }}
                        <div>
                            {{ for cells }} 
                                {{ . }} 
                            {{ end-for cells }}
                        </div>
                    {{ end-for rows }}
                {{ end-for table }}
            </div>
        </x-template>
    </x-component>
</x-component-def>
