<x-component-def name="not_found">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <x-component name="head_common" />
            <x-component name="agbalumo_font_import" />
            <title>Little Chef - Not Found</title>
            <link rel="stylesheet" href="public/views/auth/index.css" />
        </head>
        <body class="bg-black text-white h-dvh flex flex-col items-center px-4 py-8">
            <div class="flex flex-col max-w-xl justify-center">
                <h1 class="text-3xl font-semibold text-[#01B269] font-agbalumo ml-2">Not Found</h1>
            </div>
        </body>
    </html>
</x-component-def>
