<x-component-def name="root_layout">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="viewport-fit=cover,width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

            <script src="https://cdn.tailwindcss.com"></script>
            <link rel="stylesheet" href="public/view-transitions.css" />
            <!-- <link rel="stylesheet" href="public/styles.css" /> -->

            <link rel="manifest" href="public/manifest.json" />
            <script src="public/app.js"></script>

            <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;800&display=swap" rel="stylesheet" />

            <title><x-slot /></title>
        </head>
        <body>
            <x-slot />
        </body>
    </html>
</x-component-def>
